<html ng-app="myApp" ng-controller="MainCtrl">
<head>
	<title>Cgminer controler</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
</head>
<body>
	<h1>Hello World!</h1>
	Updated : {{refreshed| date:'medium'}}
	<button ng-click='reload_all()'>Reload</button>
	<table>
		<tr>
			<th>ID</th>
			<th>Accepted</th>
			<th>Rejected</th>
			<th>Last Share</th>
			<th>URL</th>
		</tr>
		<tr ng-repeat="pool in pools">
			<td>{{pool.POOL}}</td>
			<td>{{pool.Accepted}}</td>
			<td>{{pool.Rejected}}</td>
			<td>{{pool["Last Share Time"] * 1000| date:'medium'}}</td>
			<td>{{pool.URL}}</td>
		</tr>
	</table>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Enabled</th>
			<th>Hash 5s</th>
			<th>Hash avg</th>
			<th>Last Share</th>
			<th>Accepted</th>
			<th>Rejected</th>
			<th>HW err</th>
		</tr>
		<tr ng-repeat='dev in devs'>
			<td>{{dev.ID}} </td>
			<td>{{dev.Name}}</td>
			<td>{{dev.Enabled}}</td>
			<td>{{dev["MHS 5s"]}} MH/s</td>
			<td>{{dev["MHS av"]}} MH/s</td>
			<td>{{dev["Last Share Time"] * 1000 | date:'medium'}}</td>
			<td>{{dev.Accepted}}</td>
			<td>{{dev.Rejected}}</td>
			<td>{{dev["Hardware Errors"]}} ({{dev["Hardware Errors"]/ (dev.Accepted + dev.Rejected) * 100 |number }}%)</td>
		</tr>
	</table>


<script>
angular.module('myApp',[ ])

function MainCtrl($scope, $http, $timeout ){
	$scope.pools = [];
	$scope.pools_status = {};
	$scope.devs = [];
	$scope.devs_status = {};
	$scope.refreshed = null;

	$scope.reload_pools = function(){
		$http.get("/api/pools/").success(function(data){
			$scope.pools = data["POOLS"]
			$scope.pools_status = data["STATUS"][0]
		});
	}

	$scope.reload_devs = function(){
		$http.get("/api/devs/").success(function(data){
			$scope.devs = data["DEVS"]
			$scope.devs_status = data["STATUS"][0]
		});
	}


	$scope.reload_all = function(){
		$scope.reload_pools();
		$scope.reload_devs();
		$scope.refreshed = new Date();
	}

	$scope.reload_all();

	$timeout(function updater(){
		$scope.reload_all();
		$timeout(updater, 10000);
	},1000);
}
</script>

</body>
</html>